#dashboard-first-column {
    margin: 0 10px;
    width: 300px;
}

#dashboard-second-column {
    margin: 0 10px;
    width: 800px;
}

.dashboard-title {
    margin: auto;
    padding: 10px;
    background-color: var(--main-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--white-color);
}

.graph {
    width: 300px;
    margin: 0 0 20px 0;
}

.meter {
    font-size: 20px;
}

.journal {
    height: 280px;
    margin: 0 0 20px 0;
}

#journalRepasDashboard table,
#journalSportDashboard table {
    margin: 10px auto;
    border: 1px solid var(--grey-color);
    border-collapse: collapse;
}

#journalRepasDashboard table thead,
#journalSportDashboard table thead {
    background-color: var(--light-grey-color);
}

#journalRepasDashboard table tbody tr,
#journalSportDashboard table tbody tr {
    border: 1px solid var(--grey-color);
    border-collapse: collapse;
}

#journalRepasDashboard table tbody td,
#journalSportDashboard table tbody td {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
    border: 1px solid var(--grey-color);
    border-collapse: collapse;
}

#journalRepasDashboard table .table-date,
#journalSportDashboard table .table-date {
    width: 200px;
}

#journalRepasDashboard table .table-item-name,
#journalSportDashboard table .table-item-name {
    width: 300px;
}

#journalRepasDashboard table .table-quantity,
#journalSportDashboard table .table-duration {
    width: 150px;
}

#journalRepasDashboard table .table-calories,
#journalSportDashboard table .table-calories {
    width: 100px;
}

#journalRepasDashboard table tbody td #inputRepasDate,
#journalSportDashboard table tbody td #inputSeanceDate {
    margin: 0 5px;
    width: 180px;
}

#journalRepasDashboard table tbody td #inputRepasName,
#journalSportDashboard table tbody td #inputSportName {
    margin: 0 5px;
    width: 280px;
}

#journalRepasDashboard table tbody td #inputRepasQuantity,
#journalSportDashboard table tbody td #inputSeanceDuration {
    margin: 0 5px;
    width: 130px;
    text-align: center;
}

#journalRepasDashboard form,
#journalSportDashboard form {
    text-align: center;
}

#journalRepasDashboard form .btn,
#journalSportDashboard form .btn {
    width: 50%;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

#journalRepasDashboard form .btn:hover,
#journalSportDashboard form .btn:hover {
    background-color: var(--main-color);
}

.buttons {
    height: 160px;
}

.buttons .btn {
    width: 75%;
    margin: 6px auto;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    cursor: pointer;
}

.buttons .btn:hover {
    background-color: var(--main-color);
}

.buttons a {
    text-decoration: none;
}