#dashboard-first-column {
    margin: 0 10px;
    width: 300px;
}

#dashboard-second-column {
    margin: 0 10px;
    width: 800px;
}

.dashboard-title {
    margin: auto;
    padding: 10px;
    background-color: var(--main-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--white-color);
}

.graph {
    width: 300px;
    margin: 0 0 20px 0;
}

.meter {
    font-size: 20px;
}

.journal {
    height: 280px;
    margin: 0 0 20px 0;
}

#journalRepas table,
#journalSport table {
    height: auto;
    margin: 10px auto;
    border: 1px solid var(--grey-color);
    border-collapse: collapse;
}

#journalRepas table thead,
#journalSport table thead {
    background-color: var(--light-grey-color);
}

#journalRepas table tbody tr,
#journalSport table tbody tr {
    border: 1px solid var(--grey-color);
    border-collapse: collapse;
}

#journalRepas table tbody th,
#journalSport table tbody th {
    height: 50px;
    border: 1px solid var(--grey-color);
    border-collapse: collapse;
}

#journalRepas table .table-date,
#journalSport table .table-date {
    width: 150px;
}

#journalRepas table .table-item-name,
#journalSport table .table-item-name {
    width: 300px;
}

#journalRepas table .table-quantity,
#journalSport table .table-duration {
    width: 150px;
}

#journalRepas table .table-calories,
#journalSport table .table-calories {
    width: 100px;
}

#journalRepas table tbody th #inputRepasDate,
#journalSport table tbody th #inputSeanceDate {
    margin: 0 5px;
    width: 130px;
}

#journalRepas table tbody th #inputRepasName,
#journalSport table tbody th #inputSportName {
    margin: 0 5px;
    width: 280px;
}

#journalRepas table tbody th #inputRepasQuantity,
#journalSport table tbody th #inputSeanceDuration {
    margin: 0 5px;
    width: 130px;
    text-align: center;
}

#journalRepas form,
#journalSport form {
    text-align: center;
}

#journalRepas form .btn,
#journalSport form .btn {
    width: 50%;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

#journalRepas form .btn:hover,
#journalSport form .btn:hover {
    background-color: var(--main-color);
}

.buttons {
    height: 160px;
}

.buttons .btn {
    width: 75%;
    margin: 6px auto;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    cursor: pointer;
}

.buttons .btn:hover {
    background-color: var(--main-color);
}

.buttons a {
    text-decoration: none;
}