@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

body {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #F2F2F2;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #2ED4AE;
    padding: 6px 14px;
}

.menu .logo {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    color: #F6FFFE;
}

.logo img {
    width: 40px;
    height: auto;
}

.logo .logo_name {
    margin: 2px 0 0 10px;
    font-size: 20px;
    font-weight: 900;
}

.menu ul {
    margin-top: 20px;
}

.menu ul li {
    position: inherit;
    height: 50px;
    width: 100%;
    margin: 5px;
    line-height: 50px;
    list-style-type: none;
}

.menu ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    color: #F6FFFE;
    transition: all 0.4s ease;
}

.menu ul li a:hover {
    color: #2ED4AE;
    background-color: #F6FFFE;
}
#currentpage {
    color: #2ED4AE;
    background-color: #F6FFFE;
}

.menu .profile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #F6FFFE;
}

.menu .profile .details {
    position: relative;
    padding: 10px 6px;
    height: 75px;
    text-align: center;
    background-color: #18A585;
}

.profile .details .name {
    font-size: 15px;
    font-weight: 900;
}

.profile .details .btn {
    width: 60%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    margin: 10px auto;
    padding: 3px;
    background-color: #2ED4AE;
    color: #F6FFFE;
    cursor: pointer;
}
.profile .details .btn:hover {
    background-color: #F6FFFE;
    color: #18A585;
}

h6 {
    text-align: center;
    font-style: italic;
}

.content {
    position: inherit;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    margin: 10px;
}

#dashboard {
    display: flex;
}

.meter {
    font-size: 20px;
    font-weight: 900;
}

.box {
    background-color: #F6FFFE;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #A4A4A4;
}

#aliments_wrapper {
    width: 95%;
    margin: auto;
}

.content #title {
    text-align: center;
    font-weight: 900;
    margin: 30px;
    color: #18A585;
}

#signup-form ul {
    margin: auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
    background-color: #2ED4AE;
    color: #F6FFFE;
    border-radius: 5px;
}

#signup-form ul li {
    padding: 1px;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

#signup-form label {
    margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}


#signup-form ul input[type=submit] {
	background-color: #18A585;
    margin: 10px auto;
	padding: 8px 15px 8px 15px;
	border: none;
    border-radius: 5px;
    text-align: center;
	color: #F6FFFE;
    cursor: pointer;
}
#signup-form ul input[type=submit]:hover {
    background-color: #F6FFFE;
    color: #18A585;
}

#login-form ul {
    margin: auto;
	max-width: 400px;
	padding: 20px 10px 10px 20px;
    background-color: #2ED4AE;
    color: #F6FFFE;
    border-radius: 5px;
}

#login-form ul li {
    padding: 1px;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

#login-form label {
    margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}


#login-form ul input[type=submit] {
	background: #18A585;
    margin-top: 10px;
	padding: 8px 15px 8px 15px;
	border: none;
    border-radius: 5px;
    text-align: center;
	color: #F6FFFE;
    cursor: pointer;
}
#login-form ul input[type=submit]:hover {
    background-color: #F6FFFE;
    color: #18A585;
}

#inputLogin, #inputPassword, #inputNom, #inputPrenom, #inputEmail, #inputDate, #inputSexe{
    border: 1px solid #18A585;
}

.textError {
    width: 75%;
    padding: 3px 5px;
    margin: auto;
    text-align: center;
    background-color: #E83333;
    border-radius: 5px;
    color: #F6FFFE;
}

.form-link h6 {
    margin: 10px auto;
}