@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    font-weight: 400;

    --main-color: #2ED4AE;
    --secondary-color: #18A585;
    --white-color: #F6FFFE;
    --light-grey-color: #C9CACC;
    --grey-color: #A4A4A5;
    --background-color: #F2F2F2;
    --shadow-color: #A4A4A4;
    --danger-color: #E83333;

    --menu-width: 240px;
}

body {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: var(--background-color);
}

h6 {
    text-align: center;
    font-style: italic;
}

.content {
    position: inherit;
    height: 100%;
    width: calc(100% - var(--menu-width));
    left: var(--menu-width);
    margin: 10px;
}

.info {
    margin: 10px 0;
    text-align: center;
    font-style: italic;
}

#dashboard, #profile, #aliments-form, #sports-form {
    display: flex;
    justify-content: center;
}

.box {
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--shadow-color);
}

.content #title {
    text-align: center;
    font-weight: 700;
    margin: 30px;
    color: var(--secondary-color);
}

.textError {
    width: 75%;
    padding: 3px 5px;
    margin: auto;
    text-align: center;
    background-color: var(--danger-color);
    border-radius: 5px;
    color: var(--white-color);
}